@model IEnumerable<SalesInvoiceServiceModel>

@{
    ViewBag.Title = "Become Accountant";
}

<h1>All Sales invoices</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Customer</th>
            <th scope="col">Posting date</th>
            <th scope="col">Total amount excl. VAT</th>
            <th scope="col">Approved</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salesInvoice in Model)
        {
            <tr>
                <td>@salesInvoice.Id</td>
                <td>@salesInvoice.CustomerName</td>
                <td>@salesInvoice.PostingDate</td>
                <td>@salesInvoice.TotalAmountExclVat.ToString("0.00") lv.</td>
                <td>@(salesInvoice.IsPosted ? "Yes" : "No")</td>
                <td>
                    <a asp-area="" asp-controller="SalesInvoices" asp-action="Delete" asp-route-id="@salesInvoice.Id" class="btn btn-danger ml-1 float-right">Delete</a>
                    <a asp-area="" asp-controller="SalesInvoices" asp-action="Edit" asp-route-id="@salesInvoice.Id" class="btn btn-warning ml-1 float-right">Edit</a>
                    <a asp-area="Admin" asp-controller="SalesInvoices" asp-action="ChangeStatus" asp-route-id="@salesInvoice.Id" class="btn btn-info ml-1 float-right">@(salesInvoice.IsPosted ? "Hide" : "Post")</a>
                    <a asp-area="" asp-controller="SalesInvoices" asp-action="Details" asp-route-id="@salesInvoice.Id" asp-route-information="@(salesInvoice.CustomerName + "-" + salesInvoice.PostingDate)" class="btn btn-secondary ml-1 float-right">More details</a>
                </td>
            </tr>
        }
    </tbody>
</table>