@model CustomerDetailsServiceModel

@{
    ViewBag.Title = "Customer details";
}

<h1 class="heading-margin text-center">@Model.Name</h1>


<div class="container col-6">
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold">Chain name</td>
                <td>@Model.ChainName</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Address</td>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Contact</td>
                <td>@Model.ContactName</td>
            </tr>
            <tr>
                <td class="font-weight-bold">E-mail</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Payment term</td>
                <td>@Model.PaymentTerm days</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Route</td>
                <td>@Model.RouteCode route</td>
            </tr>
        </tbody>
    </table>
</div>


