@model ItemDetailsServiceModel

@{
    ViewBag.Title = "Item details";
}

<h1 class="heading-margin text-center">@Model.Name</h1>


<div class="container col-6">
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold">Type</td>
                <td>@Model.ItemType.ToString()</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Measure</td>
                <td>@Model.Measure</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Category</td>
                <td>@Model.ItemCategory</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Unit price excl. VAT</td>
                <td>@Model.UnitPriceExclVat.ToString("0.00") lv.</td>
            </tr>
            <tr>
                <td class="font-weight-bold">VAT</td>
                <td>@Model.VatGroup %</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Unit price incl. VAT</td>
                <td>@Model.UnitPriceInclVat.ToString("0.00") lv.</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Unit cost</td>
                <td>@Model.UnitCost.ToString("0.00") lv.</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Profit</td>
                <td>@Model.Profit %</td>
            </tr>
        </tbody>
    </table>
</div>


