@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IAccountantService Accountants

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Vision Account</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vision Account</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (SignInManager.IsSignedIn(User))
                {
                    var userId = User.GetId();
                    var userIsAccountant = Accountants.UserIsAlreadyAccountant(userId);
                    var userIsChiefAccountant = User.IsChefAccountant();

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 justify-content-center">
                            <li class="nav-item mr-3">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sales Invoices
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (userIsAccountant)
                                        {
                                            <a class="nav-link text-dark" asp-area="" asp-controller="SalesInvoices" asp-action="Add">Add Sales Invoice</a>
                                        }
                                        <a class="nav-link text-dark" asp-area="" asp-controller="SalesInvoices" asp-action="All">All Sales Invoices</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item mr-3">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Customers
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (userIsAccountant)
                                        {
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Add">Add Customer</a>
                                        }
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="All">All Customers</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item mr-3">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Items
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (userIsAccountant)
                                        {
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="Add">Add Item</a>
                                        }
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="All">All Items</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item mr-3">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Drivers
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (userIsAccountant)
                                        {
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Drivers" asp-action="Add">Add Driver</a>
                                        }
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Drivers" asp-action="All">All Drivers</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item mr-3">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Routes
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (userIsAccountant)
                                        {
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Routes" asp-action="Add">Add Route</a>
                                        }
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Routes" asp-action="All">All Routes</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        @if (TempData.ContainsKey(WebConstants.GlobalMessageKey))
        {
            <div class="alert alert-success" role="alert">
                @TempData[WebConstants.GlobalMessageKey]
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year Vision Account - @User.Identity.Name
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
