@model StatisticsServiceModel

@{
    ViewBag.Title = "Home Page";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <h1 class="col-md-3 text-center">
                Vision account
            </h1>
        </div>
        <div class="carousel-item">
            <h1 class="col-md-3 text-center">
                Total profit: @Model.TotalProfit.ToString("0.00") lv.
            </h1>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <h2 class="col-md-3 text-center">
            @Model.TotalSalesInvoices Sales Invoices
        </h2>
        <h2 class="col-md-3 text-center">
            @Model.TotalCustomers Customers
        </h2>
        <h2 class="col-md-3 text-center">
            @Model.TotalItems Items
        </h2>
        <h2 class="col-md-3 text-center">
            @Model.TotalDrivers Drivers
        </h2>
    </div>
</div>
