@model SearchDriversQueryModel

@{
    ViewBag.Title = "All Drivers";
}

<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Search by driver name...">
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Route"></label>
                <select asp-for="Route" class="form-control">
                    <option value="">All</option>
                    @foreach (var route in Model.Routes)
                    {
                        <option value="@route">@route</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Name</option>
                    <option value="1">Route</option>
                </select>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row">
        @foreach (var driver in Model.Drivers)
        {
            <div class="card mr-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@driver.Name -> @driver.Route route</h5>
                    <a asp-controller="Drivers" asp-action="Details" asp-route-id="@driver.Id" class="card-link">More details</a>
                </div>
            </div>
        }
    </div>
</div>

@{
    if (!Model.Drivers.Any())
    {
        <h2 class="text-center">No drivers found by the given criteria.</h2>
    }
}

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalDrivers / SearchDriversQueryModel.DriversPerPage);
}

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Drivers"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-route="@Model.Route"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">Previous</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="Drivers"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-route="@Model.Route"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">Next</a>
    </div>
</div>

