@model IEnumerable<SalesInvoiceServiceModel>


<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th class="text-center" scope="col">Customer</th>
                    <th class="text-center" scope="col">Posting date</th>
                    <th class="text-center" scope="col">Total amount excl. VAT</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var salesInvoice in Model)
                {
                    <tr>
                        <th scope="row">@salesInvoice.Id</th>
                        <td class="text-center">@salesInvoice.CustomerName</td>
                        <td class="text-center">@salesInvoice.PostingDate</td>
                        <td class="text-center">@salesInvoice.TotalPriceExclVat.ToString("0.00") lv.</td>
                        <td>
                            @if (ViewBag.AllowSalesInvoiceEdit == true || User.IsChiefAccountant())
                            {
                                <a asp-area="" asp-controller="SalesInvoices" asp-action="ChangeStatus" asp-route-id="@salesInvoice.Id" class="btn btn-info ml-1 float-right disabled">@(salesInvoice.IsPosted ? "Posted" : "Unposted")</a>
                                <a asp-controller="SalesInvoices" asp-action="Delete" asp-route-id="@salesInvoice.Id" class="btn btn-danger float-right ml-1">Delete</a>
                                <a asp-controller="SalesInvoices" asp-action="Edit" asp-route-id="@salesInvoice.Id" asp-route-information="@(salesInvoice.CustomerName + "-" + salesInvoice.PostingDate)" class="btn btn-warning float-right ml-1">Edit</a>
                            }
                            <a asp-controller="SalesInvoices" asp-action="Details" asp-route-id="@salesInvoice.Id" asp-route-information="@(salesInvoice.CustomerName + "-" + salesInvoice.PostingDate)" class="btn btn-secondary float-right ml-1">More details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>