@model SalesInvoiceDetailsServiceModel

@{
    ViewBag.Title = "Sales invoice details";
}

<h1 class="heading-margin text-center">@Model.Id</h1>

<div class="container col-6">
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold">Customer</td>
                <td>@Model.CustomerName</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Posting date</td>
                <td>@Model.PostingDate</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Due date</td>
                <td>@Model.DueDate</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Item</td>
                <td>@Model.ItemName</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Count</td>
                <td>@Model.Count</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Total amount excl. VAT</td>
                <td>@Model.TotalPriceExclVat.ToString("0.00") lv.</td>
            </tr>
            <tr>
                <td class="font-weight-bold">VAT</td>
                <td>@Model.Vat.ToString("0.00") lv.</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Total amount incl. VAT</td>
                <td>@Model.TotalPriceInclVat.ToString("0.00") lv.</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Profit</td>
                <td>@Model.Profit.ToString("0.00") lv.</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Accountant</td>
                <td>@Model.AccountantName</td>
            </tr>
        </tbody>
    </table>
</div>


